/* ===== Whole events box =================================================== */

/* List with all of the vents */
.events {
    font-size: 1.2rem;
}

/* Single event */
.event {
    position: relative;    /* To absolutely position child id */
    box-sizing: border-box;
    border: 1px solid #555;
    border-radius: 3px;
    margin: 15px 15px 0;
    background-color: #efefef;
}


/* ===== Event id============================================================ */

.id {
    position: absolute;
    top:   4px;
    right: 15px;   /* Should be equal to right padding on .properties-section */
    font-size: 1.4rem;
    font-weight: 700;
}


/* ===== Properties section ================================================= */

/* Panel with basic properties (visitor, date, random) */
.properties-section {
    padding: 4px 15px;
    background-color: #ffc94c;
}

/* Single property */
.property {
    display: inline-block;
    margin: 3px 80px 3px 0;
}

.property .name {
    display: inline-block;
    margin: 0 17px 0 0;
    font-weight: bold;
}


/* ===== Products section =================================================== */

/* Panel with all products (added, viewed, purchased, cart and impressions) */
.products-section {
    padding: 0 19px;
}

/* Single labelled list of products */
.products-container {
    display: block;
    margin: 0 0 0 0;
    padding: 0 0 3px 0;
}

.products-container  + .products-container  {
    margin-top: 5px;
}

/* Label naming list of products */
.products-label {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 80px;      /* Few other properties depend on that value */
    margin: 10px 0 0 0;
    font-weight: bold;
    text-align: right;
}

/* The list of products itself (without a label) */
.products-list-container {
    display: inline-block;
    vertical-align: top;
    /* Subtracting the width of .products-label + margin */
    width: calc(100% - 95px);
	margin-left: 15px;    /* Some other attribute's values depend on it */
}

/* Products list is a collapsing panel */
.products-list-container.collapsing-panel.collapsed {
    /* Height when collapsed = height of 1 product */
    height: 90px;
}

/* One of the products */
.products-list .product {
    box-sizing: border-box;
    vertical-align: middle;
    display: inline-block;
    /* Using right margin is better than left, because this way we don't add
       whitespace on the left of first items on new lines (if products span
       multiple lines). The problem with right is we add space on the right
       side of last item on every line, but we can compensate for that by
       decreasing padding on the containing box. */
    margin-right: 4px;
    padding: 4px;
}

.products-list .product a {
    display: inline-block;  /* So that it's size stays equal to child image */
}

.products-list .product img,
.products-list .product a {
    height: 80px;
}

/* Recommended product */
.products-list .product.recommended {
    border: 3px solid #ea7235;
}

.products-list .product.recommended img,
.products-list .product.recommended a  {
    height: 74px;
}

/*** Nested products container ***/

.products-container.outer {
    padding-bottom: 0;
}

.products-container.outer .products-container {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: calc(100% - 80px);  /* Subtracting the width of .product-label */
}

.products-container.outer .products-container .products-label {
    display: block;
    /* Must be equal to .products-list left margin + .product left padding */
    margin-left: 20px;
    font-weight: 400;
    font-size: 1.1rem;
    text-align: left;
    overflow: hidden;
}

.products-container.outer .products-container .products-list-container {
    /* Subtracting .products-list-container left margin */
    width: calc(100% - 15px);
}


/* ===== Zooming images ===================================================== */

.product-gallery {
    position: absolute;
}

.zoomed-image {
    position: absolute;
    /* Top and left coordinates calculated in JavaScript */
    z-index: 1;
}

.zoomed-image img {
    height: auto;
}