/* ====== Custom fonts ====================================================== */

@font-face {
    font-family: "Roboto";
    font-weight: 300;
    src: url("../font-roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url("../font/roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    src: url("../font-roboto/Roboto-Medium.ttf");
}


@font-face {
    font-family: "Roboto";
    font-weight: 700;
    src: url("../font/roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: italic;
    src: url("../font-roboto/Roboto-Italic.ttf");
}


/* ====== Font settings ===================================================== */

html {
    font-size: 10px;      /* 10px chosen so to easily calculate rem values */
}

body {
    font-family: "Roboto";
    font-size: 1.4rem;
    font-weight: 400;
}