/* ===== Anchor ============================================================= */

.anchor {
    color: #123c8c;
    text-decoration: underline;
}

.anchor:hover,
.anchor:focus {
    cursor: pointer;
    color: #894f9e;
}

.anchor:active {
    color: #3b2244;
}


/* ===== Number input ======================================================= */

/*** A small panel with input for entering numbers ***/

.number-input-container {
    display: inline-block;
    position: relative;    /* To absolutely position children */
}

.number-input {
    height: 22px;
    width: 25px;
    border: 1px solid #333;
    padding: 0 14px 0 3px;
    border-radius: 3px;
    text-align: center;
    /* Disables the spin box in Firefox (look below for Chrome comment) */
    -moz-appearance:textfield;
}

/* Disables numerical input spin box in WebKit (to make the input as compact as
   it needs to be here) */
.number-input::-webkit-inner-spin-button,
.number-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input-submit {
    position: absolute;
    top:   0;
    right: 0;
    width: 15px;
    height: 24px;
    border: none;
    padding: 0;
    background: url("../img/arrow-right.png") no-repeat 3px center;
    color: transparent;
}

.number-input-submit:hover {
    cursor: pointer;
}

.number-input-message {
    position: absolute;
    z-index: 1;
    display: inline-block;
    border: 1px solid;
    border-radius: 3px;
    margin: 1px 0 0 4px;
    padding: 3px 23px 5px 10px;
    text-align: left;
}

.number-input-message:hover {
    cursor: pointer;
}


/* ===== Collapsing panel =================================================== */

.collapsing-panel {
    position: relative;
    padding-bottom: 16px; /* Must be equal to the height of collapsing button */
}

.collapsing-panel.disabled {
    padding-bottom: 0;
}

.collapsing-panel.collapsed {
    /* Height must be specified (different for each panel) */
    overflow: hidden;
}

.collapsing-panel .collapsing-button {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 16px;
    border: none;
    color: transparent;
    background-image: url("../img/double-arrow-down.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #d6d6d6;
}

.collapsing-panel.expanded .collapsing-button {
    transform: rotate(180deg);
}

.collapsing-panel .collapsing-button:hover {
    background-color: #d0d0d0;
    border: none;
    outline: none;
}

.collapsing-panel .collapsing-button::-moz-focus-inner {
    border: none;
}


/* ===== Messages =========================================================== */

.error-message {
    color: #cc0a0a;
    background: url("../img/error-cross.png") no-repeat right 6px center;
    background-color: #fcefef;
}