/* Whole panel with all pagination controls */
.pagination-panel {
    padding: 0 20px;
    margin: 15px 0;
}


/* ===== All events count =================================================== */

/* Panel displaying info about number of all items on the list */
.results-info {
    display: inline;
    float: right;
    margin: 4px 0 0 60px;
}

.results-info .primary-button {
    margin-right: 15px;
}


/* ===== Page selection ===================================================== */

/* Panel with page selection controls */
.page-selection {
    display: inline;
    margin: 12px 60px 0 0;
}

/* Container of input for entering custom page number */
.page-selection .number-input-container {
    margin: 0 1px;
}

/* List of displayed page numbers */
.page-numbers {
    display: inline;
}

/* Page number */
.page-number {
    display: inline;
}

.page-number + .page-number {
    margin-left: 6px;
}

.page-number.first::after {
    content: "...";
    margin: 0 0 0 5px;
}

.page-number.last::before {
    content: "...";
    margin:  0 5px 0 0;
}

.custom-page-number {
    display: inline-block;
}


/* ===== Pagination settings ================================================ */

/* Panel with pagination settings controls (how many items displaye per page*/
.pagination-settings {
    display: inline;
}

/* Panel that allows entering custom pagination value */
.custom-pagination {
    display: inline;
}

.pagination-settings .number-input-container {
    margin-left: 5px;
}